<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	OJifui//u4RIWTAJXyjZf7zPIiKxtRtQLCNSrEW/FTXemWAGFCt6hemhrrNvZsj2iAXf
	z3qo8XAx2ZIZ8Hpmys9a8zPhv0ez6C8uS5HJEvAKsiNTXG3vk/LdJeBgLmftEGuOOZWb
	DVqPrBld94pdG+DMdY9Lyy7zR9FChs4uOdo=
	</data>
</dict>
</plist>
