<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	g9qZ2AD2LXgzyX6Bssi+VgB53JTL7uipGtIy0sNB55npGtbXMo/I0FDTPjO3J+HrYN7L
	UDUIkTsoviDvBCaUlnDr7vYNHa0aGctjEX1kc6/IFydXEXXKIHwU/en1d5Vxx3mlf7N1
	eT7iRXnoOIi/MfJ7uQsk2Yayyy/zkMkPC8k=
	</data>
</dict>
</plist>
