<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	tEdTv8Od656RNcAQMsFuC+1HMNK0iXODA0DJsE+hyxXF/uvwFxHlV5hMPZ/KFM9sCEmT
	FSP9HwDZ7QTYGpVkXbpEMZywoyqXDxPO6K/hvsw46ngMTf6nIYgTxHn1ZM5V1J8Wod2j
	U4CNYrgf8pchJ2rrpmPMCCWw00k9eM+BT1I=
	</data>
</dict>
</plist>
