<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	Rby5fhM7A3fYJRCWPuYFwHZHc9BMjOg+SGROWPAEjpmZQYmWIozOr6JW1N47Dz2bjr8L
	IL3Ba2d21/bJRpzv+FsfAIi94dWH5T62g6jhCiz4R8xlwZ0zlxR9dazlgLM4S6RNQX7O
	8vr9U6QwU55Nw1SKPQHoARfyG8zrz6SFq8A=
	</data>
</dict>
</plist>
