<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	iSSU9RPV7fZGsiUHMv91wHaYqqIZTt6y/qt+gkPdEt9yybe7jPcPZyZGAbmt/OTYxgUc
	0qr91Hp5Z2g5vqxc5oKP3gaGP2hQDZePLZ/dcIeEUakEI8dLJ1Lun+hOuRS0tynMnaeT
	PdaXbQsZlJE8qCaLUiQE2QFcfB1zZ4o02RQ=
	</data>
</dict>
</plist>
