<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	uznkjEHecSJgnxG45GqinMjyE0Ok5r7LL0x44F97h0q9NXhYLVqkDcMXkAYkiUtDpT1M
	G9HFm4k3SE8KP4Ai+42lhIp4nO5WqDvEz7R/LH9NIeoilgCNybiJ7viFkQNZhD6B8GgM
	uj/emwyvEVl7fjNrw80Z+esHMpZTO3OpsNU=
	</data>
</dict>
</plist>
