<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	CgQfeXGdi6kCM5XiB1AnH9Haiz2CFrCwKXUjQzrvztZk5K2Nzl6gA1HmRkT772u5vNPz
	wC+CbwVD1gS2SAO6tpElTzwC0G/fMEJjWAfm7IWk3QJszSflFU+0wIN+ydWCZSbtK2CC
	Z8VPAyjKX/fJuzv8IyU0afoD0c6BWUDDOG0=
	</data>
</dict>
</plist>
