<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	Bu+HFwRQvJ4E+i8t4KS668G1gqhvlq9hAQQL1bP76xEiBSVfOX1uYEQfU4uAbqpzwved
	9VixTQmT2713P3BeyTycSflD3joXpmrVeoVVqTG4jK+NMyKLe29Y4R7gJZI/plouCP1j
	W5S18FMHHy1k+ucIkktg9DItsfds6bMZNDo=
	</data>
</dict>
</plist>
