<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	CFr13NpLxRwIV9Ct2laLl1qry3fU4oME8O0MWTrhx8uPMNQrln1Rup/EcmZcvnKvS8/g
	dXv1f/KiHRLe5oAGs7uW0d6GjZNwsrjjDVgsjV7tk+QECt4ayvqDCa93eOsygGWl8Ra8
	GvfddS+NLoaF26xbx7yeXeCd4zgzzg+LrJ8=
	</data>
</dict>
</plist>
