<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Description</key>
	<string>Randomize the order of the selected lines.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.shuffle</string>
	<key>Extension Image File</key>
	<string>Shuffle.png</string>
	<key>Extension Name</key>
	<string>Shuffle</string>
</dict>
</plist>
