<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	AU8F2KydctP3k73dWjdGC9st7z4m4TMm4eBys7w/ctMKdDx7F/Cfs/oIkL/DFNNHfT64
	ESWpshk79qk4C2vBxh4pL6A/J5V2MnjyluChV0pbJ3OwpW+OspPIrbO43Z+gwD85MOvt
	b0FWA1xin3CoveZzta725zxA1ikIMYJhUP0=
	</data>
</dict>
</plist>
