<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	EUct9fdrzrxwk+yN0KoD7RnYy7u2we8FZuzz1j4TVOR0GrLPR88ddPi2JOqeLS3P1cg2
	L0mZq86lz8Xbytfy8IFOkuXoTHJLVYazxkFLoN6h+UAkdpoepucxUoYPNsKug/Pj0Io0
	Ue0vi4/YBg5rtFp0GYvDIxg0CbrY+mV3r/I=
	</data>
</dict>
</plist>
